[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nischay Goyal (nischay30)
[access "refs/for/refs/*"]
	read = group user/Nischay Goyal (nischay30)
	push = group user/Nischay Goyal (nischay30)
	label-Code-Review = -2..+2 group user/Nischay Goyal (nischay30)
	label-Verified = -1..+1 group user/Nischay Goyal (nischay30)
	rebase = group user/Nischay Goyal (nischay30)
	removeReviewer = group user/Nischay Goyal (nischay30)
	submit = group user/Nischay Goyal (nischay30)
[access "refs/heads/*"]
	read = group user/Nischay Goyal (nischay30)
	create = group user/Nischay Goyal (nischay30)
	push = +force group user/Nischay Goyal (nischay30)
	pushMerge = group user/Nischay Goyal (nischay30)
[access "refs/tags/*"]
	push = group user/Nischay Goyal (nischay30)
	push = +force group user/Nischay Goyal (nischay30)
